body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#main {
  width: 98%;
  height: max-content;
  background-color: #eeeeee;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5vw;
}

#main #title {
  margin: 0;
  text-align: center;
  color: #333333;
  font-size: 3em;
  margin: 1% 0;
  margin-top: 4%;
}
#main p {
  text-align: center;
  color: #333333;
  font-size: 1em;
  margin-bottom: 2%;
}

#main #img-div {
  background-color: white;
  margin: auto;
  display: flex;
  flex-grow: 0;
  justify-content: center;
}

#main #img-div #img-caption {
  text-align: center;
  color: #333333;
  margin: 1% auto;
  width: 80%;
}

#main #img-div figure {
  width: 80%;
  max-width: max-content;
}

#main #img-div figure #image {
  width: 100%;
}

#main #tribute-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4em;
  align-items: center;
  width: 50%;
}
#main #tribute-info fieldset {
  border: none;
}
#main #tribute-info fieldset legend {
  font-size: 1.5em;
  font-weight: 700;
  color: #333333;
  margin-bottom: 2em;
  text-align: center;
}
#main #tribute-info #the-list {
  padding: 0;
}
#main #tribute-info #the-list li {
  font-size: 1.05em;
  margin-bottom: 1em;
}

#main #tribute-info #quote {
  width: 100%;
}
#main #tribute-info #quote p {
  text-align: left;
  font-size: 1.05em;
}


